@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #000;
	--foreground: #fff;
	/* --scrollbar-bg: #1e1e1e;
	--scrollbar-handle: #ff4d00;
	--scrollbar-handle-hover: #e63e00; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--foreground: #fff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* WebKit-based browsers */
/* ::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-handle);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-handle-hover);
} */

/* Firefox */
/* html {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-handle) var(--scrollbar-bg);
} */

.custom-corner-header {
	position: relative;
}

/* Applying the border corners */
.custom-corner-header::before,
.custom-corner-header::after,
.custom-corner-header div::before,
.custom-corner-header div::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #ff4d00;
}

/* Top-left corner */
.custom-corner-header::before {
	top: 0;
	left: 0;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Top-right corner */
.custom-corner-header::after {
	top: 0;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0 0);
}

/* Bottom-left corner */
.custom-corner-header div::before {
	bottom: 0;
	left: 0;
	clip-path: polygon(0 100%, 0 0, 100% 100%);
}

/* Bottom-right corner */
.custom-corner-header div::after {
	bottom: 0;
	right: 0;
	clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.above1 {
	background: linear-gradient(
		180deg,
		rgba(0, 128, 0, 1),
		rgba(0, 255, 0, 0.9),
		rgba(255, 165, 0, 0.9)
	);
}

.one {
	background: linear-gradient(
		180deg,
		rgba(0, 128, 0, 0.3),
		rgba(0, 255, 0, 0.7),
		rgba(255, 165, 0, 0.9)
	);
}

.btw051_099 {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 0, 0.9) 100%,
		rgba(173, 255, 47, 0.9) 0%
	);
}

.btw03_05 {
	background: linear-gradient(
		180deg,
		rgba(255, 165, 0, 0.9) 0%,
		/* Orange */ rgba(255, 69, 0, 0.9) 100% /* Reddish */
	);
}

.below03 {
	background: linear-gradient(
		180deg,
		rgba(255, 0, 0, 0.9) 0%,
		rgba(139, 0, 0, 0.9) 100%
	);
}

.filledInActive {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.03) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scroll-smooth {
	scroll-behavior: smooth;
}

/* rgba(25, 75, 255, 0.34) */
