@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.custom-corner-header {
	position: relative;
}

/* Applying the border corners */
.custom-corner-header::before,
.custom-corner-header::after,
.custom-corner-header div::before,
.custom-corner-header div::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #ff4d00;
}

/* Top-left corner */
.custom-corner-header::before {
	top: 0;
	left: 0;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Top-right corner */
.custom-corner-header::after {
	top: 0;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0 0);
}

/* Bottom-left corner */
.custom-corner-header div::before {
	bottom: 0;
	left: 0;
	clip-path: polygon(0 100%, 0 0, 100% 100%);
}

/* Bottom-right corner */
.custom-corner-header div::after {
	bottom: 0;
	right: 0;
	clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
